# Build directories
/build/
CMakeFiles/
CMakeCache.txt

# Output directories
/bin/
/lib/
/tests/

# CMake specific files
CMakeLists.txt.user
CMakeLists.txt.user.*

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Google Test and FetchContent
/googletest
/_deps

# Temporary files
*.tmp
*.temp
*.swp
*~

# Backup files
*.bak
*.orig

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary test files
/Testing/

# IDEs and editors specific files
/.idea/
/.vscode/
/*.code-workspace

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini
